html {
  border-radius: 10px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  background-color: #c4c4c4;
  border-bottom: 1px solid #848484;
  border-top: 1px solid #848484;
  color: #FFFFFF;
  font-family: "Lucida Grande";
  display: block-inline;
  max-height: 75px;
  white-space: nowrap;
}

header li {
  display: inline-block;
  text-shadow: 2px 2px 1px #848484;
}

header img {
  display: block-inline;
}

header button {
  background-color: #2A4CB2;
  font-family: "Lucida Grande";
  color: #FFFFFF;
  font-size: 17px;
  margin-top:15px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: auto;
  padding-left: 20px;
  padding-right:20px;
  border-radius: 7px;

}

header nav {
float:right;
}

body {
  font-family: "Lucida Grande";
  background-image: url("../img/background.png");
}

main {
  display: block-inline;
  text-align: left;
  background-color: #FFFFFF;
  border: 1px solid #C7C7C7;
  box-shadow: 5px 5px 10px #CECECE;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
  max-width: auto;
  padding-left: 30px;
  padding-right:30px;
  border-bottom: 1px;
  border-radius: 10px;
  line-height: 115%
}

.leftfloat {
  background-color: #2A4CB2;
  font-family: "Lucida Grande";
  color: #FFFFFF;
  font-size: 17px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: auto;
  padding-left: 20px;
  padding-right:20px;
  border-radius: 5px;
  float: left;
}

main button {
  background-color: #2A4CB2;
  font-family: "Lucida Grande";
  color: #FFFFFF;
  font-size: 17px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: auto;
  padding-left: 20px;
  padding-right:20px;
  border-radius: 5px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  border-top: #CECECE;
}

footer {
margin-top: 15px;
padding-top: 20px;
text-align: center;
font-family: "Lucida Grande";
color: #9A989D;
font-size: 12px;
border-top: 1px solid #CECECE;
margin-left: 50px;
margin-right: 50px;
}


header img {
  max-height:55px;
  margin-top:10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: auto;
  padding-left: 10px;
  padding-right:10px;
  border-radius: 10px;

}

div {
  display:flex;
}

.original {
  flex:1;
}

.hair {
flex:1;
font-family: "Lucida Grande";
border-bottom: 1px solid #CECECE;
}

.blasting {
flex:1;
font-family: "Lucida Grande";
border-bottom: 1px solid #CECECE;
}

.jet {
flex:1;
font-family: "Lucida Grande";
}

.details {
  color:#2A4CB2;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right:20px;
  max-width: 275px;
  text-align: center;
}
img {
  border:5px;
  border-color:#1B46B5;
  border-radius: 7px;
}

article {
  margin-bottom: 10px;
  margin-top: 10px;
}

.textbox {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

form {
  margin-top: 16px;
  padding-top: 7px;
}

form div {
    margin-top: 20px;
    display: block;
}

.hear label {
  display: block;
  width: 250px;
}

.hear select {
  display: block;
  padding: 3px;
}

.checkbox input {
  display: inline-block;
  width: 25px;
}

.checkbox label {
  width: 400px;
}

label {
  display: inline-block;
  width: 150px;
}

input {
  display: inline-block;
  horizontal-align: right;
  width: 150px;
  border-radius: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

input:focus {
  border-color: #2A4CB2;
}
